#wrapper{
  width:600px;
  max-width: 50%;
  border: 1px solid black;
  margin: 50px auto;
}


#random{

}

#search{

}

#results > div{
  margin: 10px 0 10px 0;
}

#results > div > a{
  text-decoration: underline;;
  font-weight: bold;
  font-size: 1.25em;
  color: black;
}
