#wrapper{
  width:600px;
  max-width: 50%;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


#random{

}

#search{

}

#results > div > a{
  text-decoration: none;
  font-weight: bold;
}
